* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Outfit', sans-serif;
}

h1, h2{
    font-family: 'Young Serif', serif;
}

h1{
    font-size: 2rem;
    color: var(--color-dark-charcoal);
}

h2{
    color: var(--primary-color);
    margin: 2rem 0;
}

p{
    color: var(--color-wenge-brown);
}

li{
    padding-left: 2rem; /* ระยะห่างระหว่าง marker และเนื้อหาของ list item */
}

hr{
    color: var(--color-light-grey);
}

:root{
    /* color */
    --primary-color: hsl(14, 45%, 36%);
    --second-color: hsl(332, 51%, 32%);
    --color-white: hsl(0, 0%, 100%);
    --color-rose-white: hsl(330, 100%, 98%);
    --color-eggshell: hsl(30, 54%, 90%);
    --color-light-grey: hsl(30, 18%, 87%);
    --color-wenge-brown: hsl(30, 10%, 34%);
    --color-dark-charcoal: hsl(24, 5%, 18%);
}

body{
    background-color: var(--color-eggshell);
}

.space-on, .space-bottom{
    display: none;
}

.container{
    width: 100%;
    height: auto;
    background-color: var(--color-white);
}

.section-one{
    width: 100%;
}

.brander-con{
    width: 100%;
}

.img-brander{
    width: 100%;
}

.head-corlum{
    width: 100%;
    height: auto;
    margin: 2rem 0;
    padding: 0 2rem;
}

.p-first{
    margin-top: 1.5rem;
}

.section-two{
    background-color: var(--color-rose-white);
    border-radius: 10px;
    margin: 2rem 2rem 0 2rem;
    padding: 1rem;
}

h3{
    color: var(--second-color);
}

ul, li{
    margin: 1rem 0 1rem 1rem;
}

.total::marker, .preparation::marker, .cooking::marker{
    color: var(--second-color);
}

.section-three{
    margin: 0 2rem;
}

.ul-three{
    margin: 1.5rem 0 2rem 0;
}

.ul-three li::marker{
    color: var(--primary-color);
}

.section-four{
    margin: 0 2rem;
}

ol li::marker{
    color: var(--primary-color);
}

.section-five{
    margin: 0 2rem;
    padding-bottom: 2rem;
}

.p-last{
    margin: 0 1rem 1rem 0;
}

.calories-con, .carbs-con, .protein-con, .fat-con{
    width: 100%;
    display: flex;
}

.name-con, .num-con{
    width: 50%;
    padding: 1rem 0 1rem 1rem;
}

.num-con{
    color: var(--primary-color);
}

.name-con{
    padding-left: 1.5rem;
}

@media (min-width: 736px) {
    .space-on, .space-bottom{
        display: block;
        height: 120px;
    }
    .container{
        width: 736px;
        margin: 0 auto;
        padding: 40px;
        border-radius: 20px;
    }
    .img-brander{
        border-radius: 20px;
    }
    .head-corlum{
        padding: 0;
    }
    .section-two{
        margin: 2rem 0 0 0;
    }
    .section-three{
        margin: 0;
    }
    .section-four{
        margin: 0;
    }
    .section-five{
        margin: 0;
        padding-bottom: 0;
    }
}